<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>BICICLETARIA</h1>
      
      <formulario :bike="bike" :cor="cor" :aro="aro" @bikes="listar"  ></formulario>

      <table border="1px">
        <tr>
          <th>Modelo </th>
          <th>Cor </th>
          <th>Aro </th>
        </tr>
        <tr v-for="b in bikes">
          <td>{{b.bike}}</td>
          <td>{{b.cor}}</td>
          <td>{{b.aro}}</td>
        </tr>

      </table>
    </div>

    <template id="form">
      <div id="formulario">

        <input type="text" name="" value=" Modelo: " v-model="bike">
        <input type="text" name="" value=" Cor: " v-model="cor">
        <input type="text" name="" value=" Aro: " v-model="aro">

        <button type="button" name="button" @click="listarBikes(bike, cor, aro)">Inserir Dados.</button>

      </div>
    </template>




  </body>
  <script src="vue.js"></script>
</html>
