<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>BICICLETARIA</h1>

      <input type="text" name="" value=" Modelo: " v-model="bike">
      <input type="text" name="" value=" Cor: " v-model="cor">
      <input type="text" name="" value=" Aro: " v-model="aro">

      <button type="button" name="button" @click="listarBikes()">Inserir Dados.</button>

      <table border="1px">
        <tr>
          <th>Modelo </th>
          <th>Cor </th>
          <th>Aro </th>
        </tr>

        <tr v-for="b in bikes">
          <td>{{b.bike}}</td>
          <td>{{b.cor}}</td>
          <td>{{b.aro}}</td>
        </tr>

      </table>
    </div>



  </body>
  <script>
    var app = new Vue({
            el: '#app',
            data: {
                bike: 'BMX',
                cor: 'Preta',
                aro: null,
                bikes:[]
            },
            methods: {
                listarBikes(){
                    this.bikes.push({bike: this.bike, cor: this.cor, aro: this.aro})
                }
            }
        })
  </script>
</html>
